# ignore bin files
legolas
legolas-runner/legolas-runner
legolas-cli/legolas-cli

# ignore logs
log/**
**/*.log

# ignore custom scripts
legolas-runner/hive/*.py
legolas-runner/hive/*.pyc

# ignore .DS_Store
**/.DS_Store

# ignore node modules
**/node_modules/

# ignore webpack dist
server/public/dist/
