/*
legolas app css
Dave @ Nov-2017
*/

body, p, div, nav, ul {
    margin: 0;
    padding: 0;
}

nav {
    height: 50px;
    width: 100%;
    background-color: #ececec;
    position: relative;
}

nav img#logo {
    height: 34px;
    margin: 8px 0 3px 40px;
}

nav ul {
    display: inline-flex;
    position: absolute;
    list-style: none;
    margin-left: 40px;
    margin-top: 15px;
    font-size: 1.1em;
}

nav ul li {
    padding-right: 20px;
}

nav ul li a {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: gray;
    cursor: pointer;
}

li a:hover, a.active {
    display: block;
    border-bottom: solid 4px gray;
    padding-bottom: 10px;
}

div#app-view {
    width: 100%;
}

div#app-sidebar {
    width: 340px;
    border-right: solid 2px #ececec;
    height: 1000px;
    padding-top: 30px;
}


/* search */
div.search-wrapper {
    display: block;
    width: 300px;
    margin: 0 auto;
    border: 2px solid #ececec;
    border-radius: 5px;
    position: relative;
}
div.search-wrapper input,
div.search-wrapper button {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    padding: 5px;
}
div.search-wrapper button {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    color: #ececec;
}
div.search-wrapper input {
    width: 250px;
}
/* end search */









